﻿@model MealManagementSystem.Models.Meal

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="h2 text-center">Make a Meal</div>
    </div>
    <div class="panel-body">
       <div class="h3 text-center">@DateTime.Now.ToString("MMMM") @DateTime.Now.Day , @DateTime.Now.Year</div>
        <br />
            @if (ViewBag.SuccessMsg != null)
            {
                <div class="text-center h5" style="color:green;font-weight:bold">@ViewBag.SuccessMsg</div>
            }
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="col-md-6">
                <div class="form-horizontal">

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.MemberId, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.DropDownListFor(model=>model.MemberId, null,"---Select Option---", htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.MemberId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">


                            @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-6">
                <div class="form-horizontal">

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group">
                        @Html.LabelFor(model => model.Breakfast, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(model=>model.Breakfast,new List<SelectListItem>()
                       {
                           new SelectListItem(){ Text="0",Value="0" },
                           new SelectListItem(){ Text="0.5",Value="0.5" },
                           new SelectListItem(){ Text="1",Value="1" },
                           new SelectListItem(){ Text="2",Value="2" },
                           new SelectListItem(){ Text="3",Value="3" },
                           new SelectListItem(){ Text="4",Value="4" },
                           new SelectListItem(){ Text="5",Value="5" },
                           new SelectListItem(){ Text="6",Value="6" },
                           new SelectListItem(){ Text="7",Value="7" },
                           new SelectListItem(){ Text="8",Value="8" },
                           new SelectListItem(){ Text="9",Value="9" },
                           new SelectListItem(){ Text="10",Value="10" }
                       },"---Select Option---",new {@class="form-control" })
                            @Html.ValidationMessageFor(model => model.Breakfast, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Lunch, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.Lunch, new List<SelectListItem>()
                       {
                           new SelectListItem(){ Text="0",Value="0" },
                           new SelectListItem(){ Text="0.5",Value="0.5" },
                           new SelectListItem(){ Text="1",Value="1" },
                           new SelectListItem(){ Text="2",Value="2" },
                           new SelectListItem(){ Text="3",Value="3" },
                           new SelectListItem(){ Text="4",Value="4" },
                           new SelectListItem(){ Text="5",Value="5" },
                           new SelectListItem(){ Text="6",Value="6" },
                           new SelectListItem(){ Text="7",Value="7" },
                           new SelectListItem(){ Text="8",Value="8" },
                           new SelectListItem(){ Text="9",Value="9" },
                           new SelectListItem(){ Text="10",Value="10" }
                       }, "---Select Option---", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Lunch, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Dinner, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.Dinner, new List<SelectListItem>()
                       {
                           new SelectListItem(){ Text="0",Value="0" },
                           new SelectListItem(){ Text="0.5",Value="0.5" },
                           new SelectListItem(){ Text="1",Value="1" },
                           new SelectListItem(){ Text="2",Value="2" },
                           new SelectListItem(){ Text="3",Value="3" },
                           new SelectListItem(){ Text="4",Value="4" },
                           new SelectListItem(){ Text="5",Value="5" },
                           new SelectListItem(){ Text="6",Value="6" },
                           new SelectListItem(){ Text="7",Value="7" },
                           new SelectListItem(){ Text="8",Value="8" },
                           new SelectListItem(){ Text="9",Value="9" },
                           new SelectListItem(){ Text="10",Value="10" }
                       }, "---Select Option---", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Dinner, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-4 col-md-10">
                    <input type="submit" value="Save" class="btn btn-block btn-success"  />
                </div>
            </div>

        }

    </div>
</div>



<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#Date").datepicker({
                
            });
            
            //$("#Breakfast").blur(function () {
            //    debugger
            //    var breakfastValue = $(this).val();
            //    var lunchValue = $("#Lunch").val();
            //    var dinnerValue = $("#Dinner").val();
            //    var Total = parseFloat(breakfastValue) + lunchValue + dinnerValue;
            //    $("#Total").val(Total);
            //})
        })
    </script>
}
