﻿@model IEnumerable<MealManagementSystem.Models.Meal>

@{
    ViewBag.Title = "ViewMeal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-primary">
    <div class="panel-heading">

    </div>
    <div class="panel-body">
        @using (Html.BeginForm("ViewMeal","Meals",FormMethod.Post))
        {
            <div class="col-md-4 col-md-offset-4 ">
                <div class="form-group">
                    <div class="col-md-8">
                        <input type="date" id="Date" name="Date" required class="form-control" />
                    </div>
                    <div class="col-md-4">
                        <input type="submit" id="btnSubmit" name="btnSubmit" value="Search By Date" class="btn btn-success" />
                    </div>
                </div>
            </div>
        }
        
        <br />
        <br />
        <br />
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.User.FullName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Breakfast)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Lunch)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Dinner)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Total)
                </th>
                <th></th>
            </tr>
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.User.FullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Breakfast)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Lunch)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Dinner)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Total)
                        </td>

                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.MealId }) |
                            @Html.ActionLink("Details", "Details", new { id = item.MealId }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.MealId })
                        </td>
                    </tr>
                }
            }


        </table>
    </div>
    <div class="panel-footer">

    </div>
</div>


<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}