﻿@model MealManagementSystem.Models.User

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="h2 text-center">Add a Member</div>
    </div>
    <div class="panel-body">
        @if (ViewBag.SuccessMsg != null)
        {
            <div class="text-center h5" style="color:green;font-weight:bold">@ViewBag.SuccessMsg</div>
        }
        @using (Html.BeginForm("Create", "Users", FormMethod.Post, new { id = "UserForm" }))
        {
            @Html.AntiForgeryToken()

            <div class="col-md-offset-3">
                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.FullName, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("ConfirmPassword","Confirm Password", new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBox("ConfirmPassword",null, new { @class = "form-control",type="password" })
                            <div id="ErrorMsgConfirm"></div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create" class="btn btn-success " />
                        </div>
                    </div>
                </div>
            </div>
        }

    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            $("#UserForm").submit(function () {
                var password = $("#Password").val();
                var confirmPassword = $("#ConfirmPassword").val();
                if (password != confirmPassword) {
                    $("#ErrorMsgConfirm").text("Confirm Password does not Match with Password Field").css("color","red");
                    return false;
                }

            })

        })
    </script>
}
