﻿@model IEnumerable<MealManagementSystem.Areas.Admin.Models.DetailsViewModel>

@{
    ViewBag.Title = "ViewDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-primary">
    <div class="panel-heading">

    </div>
    <div class="panel-body">
        <div class="h2 text-center">Add Extra Spent</div>
        <br />
        <hr />
        <table class="table table-bordered table-responsive table-striped">
            <tr>
                <th>@Html.DisplayNameFor(model => model.Name)</th>
                <th>@Html.DisplayNameFor(model => model.NumberOfMeal)</th>
                <th>@Html.DisplayNameFor(model => model.MealRate)</th>
                <th>@Html.DisplayNameFor(model => model.MealSpent)</th>
                <th>@Html.DisplayNameFor(model => model.ExtraSpent)</th>
                <th>@Html.DisplayNameFor(model => model.TotalSpent)</th>
                <th>@Html.DisplayNameFor(model => model.Paid)</th>
                <th>@Html.DisplayNameFor(model => model.Payable)</th>
                <th>@Html.DisplayNameFor(model => model.Receivable)</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(model => item.Name)</td>
                    <td>@Html.DisplayFor(model => item.NumberOfMeal)</td>
                    <td>@Html.DisplayFor(model => item.MealRate)</td>
                    <td>@Html.DisplayFor(model => item.MealSpent)</td>
                    <td>@Html.DisplayFor(model => item.ExtraSpent)</td>
                    <td>@Html.DisplayFor(model => item.TotalSpent)</td>
                    <td>@Html.DisplayFor(model => item.Paid)</td>
                    <td>@Html.DisplayFor(model => item.Payable)</td>
                    <td>@Html.DisplayFor(model => item.Receivable)</td>
                </tr>

            }

        </table>
    </div>
    <div class="panel-footer">

    </div>
</div>

