﻿body {
    padding-bottom: 20px;
    background-color:#232323;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
/*headerText Design*/
.HeaderText{
    background-color:#000000;
    color:white;
    padding:20px;
    font-family: 'Agency FB';
    font-weight:bold;
}
.MenuStyle{
    background-color:#4c4c4e;
}

.navbar-default .navbar-nav > li > a{
    color:white;
    font-weight:bold;
}
.navbar-default .navbar-nav > li > a:hover{
    color:red;
}